@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}

header{
    background-image: url('../images/mobile/image-header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
    text-align: center;
    color: white;
}
nav{
    padding: 20px 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul{
    display:none;
}
nav li{
    display: inline;
    padding: 10px;
}
nav li a{
    text-decoration: none;
    color: white;
}
    
nav button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
header h1{
    font-family: "Fraunces";
    text-transform: uppercase;
    font-size: 40px;
    margin: 12vh 0;
    /* margin-top: 100px;
    margin-bottom: 100px;
} */
}

#features > div{
    display: flex;
    height: 100vh;
    flex-direction:column-reverse;
}
#features > div > *{
    flex: 1;
}
#features > div figure img{
    width: 100%;
    min-height: 100%;
}
.desktop{
    display: none;
}
#features > div .content{
    padding: 15%;
    text-align:left;
}
#features > div .content h1{
    font-family: "Fraunces";
    margin-bottom: 15px;   
}
#features > div .content p{
    margin-bottom: 15px;
    line-height: 1.5;
}
#features > div .content a{
    color: #000;
    text-decoration: none;
    font-family: "Fraunces";
    text-transform: uppercase;
}

#features #stand-out {
    flex-direction: column;
}
#features > #services > div {
    background-size:cover;
    height: 80vh;
    padding: 0 10% 70px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    line-height: 1.5;
}
.content a{
    align-self: flex-start;
}
.graphics{
    background-image: url("../images/mobile/image-graphic-design.jpg");
}
.photography{
    background-image: url("../images/mobile/image-photography.jpg");
}
.details h1{
    font-family: "Fraunces";
    padding-bottom: 20px; 
}
.head h2{
    display: flex;
    justify-content: center;
    padding-top: 10%;
}
 .Client{
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
}
.Client .display1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
}
.Client .display2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
}
.Client .display3{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
}
.Client .display1 img{
    border-radius: 50%;
    max-width: 50px;
    padding-top: 10px;
}    
.Client .display2 img{
    border-radius: 50%;
    max-width: 50px;
    padding-top: 10px;
}   
.Client .display3 img{
    border-radius: 50%;
    max-width: 50px;
    padding-top: 10px;
}
.Client .display1 .quotes{
    text-align: center;
    padding: 20px 20%;
}
.Client .display2 .quotes{
    text-align: center;
    padding: 20px 20%;
}
.Client .display3 .quotes{
    text-align: center;
    padding: 20px 20%;
}
.Client .display1 h2{
    font-family: "Fraunces";
}
.Client .display h2{
    font-family: "Fraunces";
}
.Client .display1 h2{
    font-family: "Fraunces";
}
.one img, .two img , .three img , .four img{
    width: 100%;
}
.grid{
    display: grid;
    grid-template-areas: "one two"
                        "three four";
}
.flex{
   display: block;  
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:hsla(168, 34%, 41%, 0.555) ;
    background-size: cover;
}
.footer ul {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    list-style: none;
    gap: 10px;
}
.footer ul li a{
    text-decoration: none;
}
.social{
    margin-top: 20px;
    display: flex;
    list-style: none;
    gap: 10px;
}

@media screen and  (min-width: 768px) {
    header{
        background-image: url("../images/desktop/image-header.jpg");
        height: 80vh;
    }

    header h1{
        font-size: 50px;
    } 
    #features > div > *{
        flex: 1 1 50%;
    }  
    #features > div{
        flex-direction: row;
        height: auto;
    }
    #features > div .content{
        padding: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #features #stand-out {
        flex-direction: row;
    }

    .mobile{
        display: none ;
    }
    .desktop{
        display: inline-block
    }
    .graphics {
        background-image: url("../images/desktop/image-graphic-design.jpg");
    }
    .photography{
        background-image: url("../images/desktop/image-photography.jpg");
    }
    .head h2{
        display: flex;
        justify-content: center;
        padding-top: 5%;
        font-size: 20px;
        
    }
    .Client {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* margin-top: 10%; */
    } 
    .Client div{
    display: flex;
    flex-direction: column;
    /* justify-content:space-between; */
    align-items: center;
    gap: 10px;
    /* padding-left: 20px; */
    margin: 50px 2%;
    /* margin-left: 5%;
    margin-right: 5%; */
    }
    .Client .display1{
        margin-left: 5%;
    }
    .Client .display3{
        margin-right: 5%;
    }
    .Client .display1 img{
        border-radius: 50%;
        max-width: 50px;
    }
    .Client .display2 img{
        border-radius: 50%;
        max-width: 50px;
    }
    .Client .display3 img{
        border-radius: 50%;
        max-width: 50px;
    }
    .Client .display1 .quotes{
        text-align: center;
        padding-top: 20px ;
        /* font-family: "Barlow"; */
        font-size: 18px;
        /* font-weight:500; */
        line-height: 1.5;
    }
    .Client .display2 .quotes{
        text-align: center;
        padding-top: 20px ;
        /* font-family: "Barlow"; */
        font-size: 18px;
        /* font-weight:500; */
        line-height: 1.5;
    }
    .Client .display3 .quotes{
        text-align: center;
        padding-top: 20px ;
        /* font-family: "Barlow"; */
        font-size: 18px;
        /* font-weight:500; */
        line-height: 1.5;
    }
    .Client .display1 h2{
        font-family: "Fraunces";
        font-style:normal;
        /* font-weight: bolder; */
        margin-top: 10px;
    }
    .Client .display2 h2{
        font-family: "Fraunces";
        font-style:normal;
        font-weight: bolder;
        margin-top: 10px;
    }
    .Client .display3 h2{
        font-family: "Fraunces";
        font-style:normal;
        font-weight: bolder;
        margin-top: 10px;
    }
    .Client .display1 p{
        /* font-size: small; */
        margin-bottom: 20px;
    }
    .Client .display2 p{
        /* font-size: small; */
        margin-bottom: 20px;
    }
    .Client .display3 p{
        /* font-size: small; */
        margin-bottom: 20px;
    }
    .footer{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 40px;
        margin-top: 30px;
    }
    .footer h2{
        /* margin-left: 10px; */

    }
    .footer ul {
        display: flex;
        gap: 40px;
        align-items: center;
        text-decoration: none;
        
    }
    .footer .social{
        display: flex;
        gap: 10px;
        text-decoration: none;
    }
    .footer li a{
        /* text-decoration: none; */
        list-style: none;
    }

    .grid{
       display: flex !important;
    }    
}
